
@model KalbeTest.Models.PenjualanModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<h2>Create</h2>*@

@using (Html.BeginForm("Edit", "Penjualan", FormMethod.Post, new { Class = "", Id = "formAddRoles" }))
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Edit Sales</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>


                    </ul>


                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                @Html.HiddenFor(model => model.intSalesOrderID)

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                        Sales Order Id
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.intSalesOrderID, new { Class = "form-control col-md-7 col-xs-12", Readonly = "true" })
                    </div>
                </div>

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                        Order Date
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.dtSalesOrder, "{0:dd-MM-yyyy}", new { Class = "form-control col-md-7 col-xs-12 datepicker" })
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="form-horizontal form-label-left input_mask">

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Customer Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(model => model.intCustomerID, ViewBag.ListCustomer as IEnumerable<SelectListItem>, "Pilih Customer", new { Class = "form-control", Placeholder = "", required = "true" })
                        </div>
                    </div>



                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Produk Name
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(model => model.intProductID, ViewBag.ListProduk as IEnumerable<SelectListItem>, "Pilih Produk", new { Class = "form-control", Placeholder = "", required = "true" })
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Qty
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.intQty, new { Class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>




                    <div class="item form-group">
                        <div class="control-label col-md-5 col-sm-3 col-xs-12">
                            <input type="submit" class="btn btn-success" value="Submit" />
                            @*<button type="button" class="btn btn-warning">Back To List</button>*@
                            <a href="/Penjualan/Index/" class="btn btn-warning">Back To List</a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">

        //$(document).ready(function () {
        //    $('.dtSalesOrder').datepicker({

        //    });
        //});
    </script>
}



